[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
typer = "==0.7.0"
appdirs="==1.4.4"
certifi="==2022.9.24"
chardet="==4.0.0"
click="==8.1.3"
colorama="==0.4.6"
idna="==2.10"
pretty-downloader="==0.2.0"
prettytable="==3.5.0"
requests="==2.25.1"
tqdm="==4.57.0"
urllib3="==1.26.12"
wcwidth="==0.2.5"

[dev-packages]
pynsist = "*"  # Optional, only if you want to build a Windows installer
pyinstaller = "*" # Optional, only if you want to build a standalone executable for linux and mac
pip-licenses = "*"

[requires]
python_version = "3.10"
